@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}